@model IEnumerable<Talu.Models.Musique>

@{
    ViewBag.Title = "Index";
}

<h2>Zone de Recherche</h2>

<div class="container">
    <div class="blocGauche">
        <div>
            <h4>Rechercher un Auteur</h4>
            <form name="rechercheParAuteur" method="post">
                <div>
                    Auteur : <select name="auteur" onchange="updateRecherche(this);">
                        @{
                            List<string> listAuteur = new List<string>();
                            foreach (var item in Model)
                            {
                                if (!listAuteur.Contains(item.Album.Groupe.Nom))
                                {
                                    listAuteur.Add(item.Album.Groupe.Nom);
                                    <option value="@item.Album.Groupe.Id">@item.Album.Groupe.Nom</option>
                                }
                            }
                        }
                    </select>
                </div>
                <a id="buttonRechercheAuteur" class="btn btn-primary" href="/Groupes/Details/1">Rechercher</a>
            </form>
        </div>

        <div>
            <h4>Rechercher un Album</h4>
            <form name="rechercheParAlbum" method="post">
                <div>
                    Album : <select name="album" onchange="updateRecherche(this);">
                        @{
                            List<string> listAlbum = new List<string>();
                            foreach (var item in Model)
                            {
                                if (!listAuteur.Contains(item.Album.Nom))
                                {
                                    listAuteur.Add(item.Album.Nom);
                                    <option value="@item.Album.Id">@item.Album.Nom</option>
                                }
                            }
                        }
                    </select>
                </div>
                <a id="buttonRechercheAlbum" class="btn btn-primary" href="/Albums/Details/1">Rechercher</a>
            </form>
        </div>
    </div>

    <div class="blocDroit">
        <div>
            <h4>Rechercher par critères</h4>
            <form id="formAuteur" name="rechercheParCritereAuteur" method="post">
                <div>
                    Auteur : <select id="selectAuteur" name="auteur" onchange="updateRechercheCritere();">
                                 <option value="0">All</option>
                        @{
                            List<string> listAuteur2 = new List<string>();
                            foreach (var item in Model)
                            {
                                if (!listAuteur2.Contains(item.Album.Groupe.Nom))
                                {
                                    listAuteur2.Add(item.Album.Groupe.Nom);
                                    <option value="@item.Album.Groupe.Id">@item.Album.Groupe.Nom</option>
                                }
                            }
                        }
                    </select>
                </div>
            </form>
        </div>
        <div>
            <form id="formAlbum" name="rechercheParCritereAlbum" method="post">
                <div>
                    Album : <select id="selectAlbum" name="album" onchange="updateRechercheCritere();">
                                <option value="0">All</option>
                        @{
                            List<string> listAlbum2 = new List<string>();
                            foreach (var item in Model)
                            {
                                if (!listAuteur2.Contains(item.Album.Nom))
                                {
                                    listAuteur2.Add(item.Album.Nom);
                                    <option value="@item.Album.Id">@item.Album.Nom</option>
                                }
                            }
                        }
                    </select>
                </div>
                <a id="buttonRechercheCritere" class="btn btn-primary" href="/Musiques/Recherche/?idAlbum=0&idGroupe=0">Rechercher</a>
            </form>
        </div>
    </div>
</div>


<h2>Liste des musiques</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Style)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LienTelechargement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LienEcoute)
        </th>
        <th>
            <!--@Html.DisplayNameFor(model => model.Album.Nom)-->
            Nom de l'album
        </th>
        <th>
            Nom du groupe
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <!--@Html.DisplayFor(modelItem => item.Nom)-->
            @Html.ActionLink(item.Nom, "Details", new { id = item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Style)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LienTelechargement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LienEcoute)
        </td>
        <td>
            <!--@Html.DisplayFor(modelItem => item.Album.Nom)-->
            @Html.ActionLink(item.Album.Nom, "Details/" + item.IdAlbum, new { controller = "Albums" })
        </td>
        <td>
            @Html.ActionLink(item.Album.Groupe.Nom, "Details/" + item.Album.IdGroupe, new { controller = "Groupes" })
        </td>
        <!--<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>-->
    </tr>
}
</table>

<script type="text/javascript">
    function updateRecherche(select)
    {
        $("#buttonRechercheAuteur").attr('href', '/Groupes/Details/' + select.value);
        $("#buttonRechercheAlbum").attr('href', '/Albums/Details/' + select.value);
    }
    function updateRechercheCritere()
    {
        $("#buttonRechercheCritere").attr('href', '/Musiques/Recherche/?idAlbum=' + document.getElementById("selectAlbum").value + '&idGroupe=' + document.getElementById("selectAuteur").value);
        //alert(document.getElementById("selectAuteur").value);
        //alert(document.getElementById("selectAlbum").value);
    }
</script>
