@model IEnumerable<Talu.Models.Musique>

@{
    ViewBag.Title = "RechercheDirect";
}

<h2>Liste des musiques correspondantes</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Style)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LienTelechargement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LienEcoute)
        </th>
        <th>
            <!--@Html.DisplayNameFor(model => model.Album.Nom)-->
            Nom de l'album
        </th>
        <th>
            Nom du groupe
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <!--@Html.DisplayFor(modelItem => item.Nom)-->
                @Html.ActionLink(item.Nom, "Details", new { id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Style)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LienTelechargement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LienEcoute)
            </td>
            <td>
                <!--@Html.DisplayFor(modelItem => item.Album.Nom)-->
                @Html.ActionLink(item.Album.Nom, "Details/" + item.IdAlbum, new { controller = "Albums" })
            </td>
            <td>
                @Html.ActionLink(item.Album.Groupe.Nom, "Details/" + item.Album.IdGroupe, new { controller = "Groupes" })
            </td>
        </tr>
    }
</table>